<div class="col-md-12">
    <form action="" class="form-row">
        <div class="form-group mr-2">
          <label for="nombre" class="sr-only">Nombre</label>
          <input type="text" name="nombre" id="nombre"
              placeholder="Nombre" class="form-control"
              #nombreInp
              >
        </div>

        <div class="form-group">
          <label for="apellido" class="sr-only">Apellido</label>
          <input type="text" name="apellido" id="apellido"
              placeholder="Apellido" class="form-control"
              #apellidoInp>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-success"
            (click)="onAddPersona(nombreInp)">Agregar</button>
        </div>
  
      </form>
  </div>
